.hoverData {
    color: white;
}

.hoverHint {
    text-align: center;
    background-color:gray;
    margin-bottom: 8vh;
    height: 25vh;
}

.chartContainer {
    background-color: black;
    width: 60%;
}
.topRow {
    display:flex;
    flex-direction:row;
}
.newsContainer {
    background-color: black;
    color: white;
    max-width: 95%;
    margin-left: 1vw;
}
.onChainChart {
margin-right: 20vw;
}