.detailPanel {
    margin-bottom: 20px;
    background-color: #0a1126;
    color: white;
    .detailLink {
        font-size: .9rem;
        margin: 0 20px 20px 20px;
        cursor: pointer;
        color: white;
    }
    .description {
        padding: 15px;
    }
    .linkLogo {
        max-height: 30px;
        margin: 5px 2.5vw 0px 0;
    }
}
